<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5">About us</h2>
    <p class="text-zinc-300 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum vitae veniam nam illo ipsa vero quas nisi excepturi voluptates repellendus dolorem repudiandae, corrupti quos porro eveniet maiores tempora eaque fugit, at eos, doloribus voluptatum id quo nemo. Amet, aliquid consequuntur.</p>

</section>