---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex nam eum ut ratione? Dolorum sequi laboriosam voluptatibus inventore odio molestias?
    </p>
</Layout>